<aur-dialog [showActions]="false">

  <ng-container aurDialogContent>
    <mat-stepper linear #stepper class="aur-dialog-inner-actions">
      <mat-step>
        <ng-template matStepLabel> Step 1</ng-template>
        <div class="aur-dialog-stepper-content">
          <p>Иногда предыдущий подход основанный на том чтобы показывать кнопки через switch в контенере помеченном
            aurActionButtons не срабатывает, можно сделать так указав классы
            aur-dialog-inner-actions, aur-dialog-stepper-content, aur-dialog-action-buttons </p>
          <p>Step 1 content here</p>
          <p>Step 1 content here</p>
          <p>Step 1 content here</p>
          <p>Step 1 content here</p>
          <p>Step 1 content here</p>
          <p>Step 1 content here</p>
          <p>Step 1 content here</p>
          <p>Step 1 content here</p>
          <p>Step 1 content here</p>
          <p>Step 1 content here</p>
          <p>Step 1 content here</p>
          <p>Step 1 content here</p>
          <p>Step 1 content here</p>
          <p>Step 1 content here</p>
          <p>Step 1 content here</p>
          <p>Step 1 content here</p>
          <p>Step 1 content here</p>
          <p>Step 1 content here</p>
          <p>Step 1 content here</p>
          <p>Step 1 content here</p>
          <p>Step 1 content here</p>
          <p>Step 1 content here</p>
          <p>Step 1 content here</p>
          <p>Step 1 content here</p>
          <p>Step 1 content here</p>
          <p>Step 1 content here</p>
          <p>Step 1 content here</p>
          <p>Step 1 content here</p>
          <p>Step 1 content here</p>
          <p>Step 1 content here</p>
          <p>Step 1 content here</p>
          <p>Step 1 content here</p>
        </div>

        <div class="aur-dialog-action-buttons">
          <button color="primary" mat-flat-button (click)="stepper.next()">Next</button>
        </div>

      </mat-step>

      <mat-step>
        <ng-template matStepLabel> Step 2</ng-template>
        <div class="aur-dialog-stepper-content">
          <p>Step 2 content here</p>
        </div>

        <div class="aur-dialog-action-buttons">
          <button mat-button (click)="stepper.previous()">Back</button>
          <button mat-button (click)="stepper.next()">Next</button>
        </div>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel> Step 3</ng-template>

        <div class="aur-dialog-stepper-content">
          <p>Step 3 content here</p>
        </div>

        <div class="aur-dialog-action-buttons">
          <button mat-button (click)="stepper.previous()">Back</button>
          <button mat-button mat-dialog-close>Close</button>
        </div>
      </mat-step>

    </mat-stepper>
  </ng-container>

</aur-dialog>
