<aur-dialog>

      <ng-container aurDialogStickyHeader>
        <h2>Sticky Header</h2>
      </ng-container>

      <ng-container aurDialogContent>
        <p>Scrollable first</p>
        <p>Scrollable</p>
        <p>Scrollable</p>
        <p>Scrollable</p>
        <p>Scrollable</p>
        <p>Scrollable</p>
        <p>Scrollable</p>
        <p>Scrollable</p>
        <p>Scrollable</p>
        <p>Scrollable</p>
        <p>Scrollable</p>
        <p>Scrollable</p>
        <p>Scrollable</p>
        <p>Scrollable</p>
        <p>Scrollable</p>
        <p>Scrollable</p>
        <p>Scrollable</p>
        <p>Scrollable</p>
        <p>Scrollable</p>
        <p>Scrollable</p>
        <p>Scrollable</p>
        <p>Scrollable</p>
        <p>Scrollable</p>
        <p>Scrollable</p>
        <p>Scrollable</p>
        <p>Scrollable</p>
        <p>Scrollable</p>
        <p>Scrollable</p>
        <p>Scrollable</p>
        <p>Scrollable</p>
        <p>Scrollable</p>
        <p>Scrollable last</p>
      </ng-container>

      <ng-container aurDialogStickyFooter>
        <h2>STICKY FOOTER</h2>
      </ng-container>

  <ng-container aurDialogActions>
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button mat-dialog-close>Install</button>
  </ng-container>

</aur-dialog>

