<aur-dialog>

  <ng-container aurDialogStickyHeader>
    <p>Sticky header</p>
  </ng-container>

  <ng-container aurDialogContent>
    <mat-stepper linear #stepper>
      <mat-step>
        <ng-template matStepLabel> Step 1</ng-template>
        <p>Step 1 content here</p>
        <p>Step 1 content here</p>
        <p>Step 1 content here</p>
        <p>Step 1 content here</p>
        <p>Step 1 content here</p>
        <p>Step 1 content here</p>
        <p>Step 1 content here</p>
        <p>Step 1 content here</p>
        <p>Step 1 content here</p>
        <p>Step 1 content here</p>
        <p>Step 1 content here</p>
        <p>Step 1 content here</p>
        <p>Step 1 content here</p>
        <p>Step 1 content here</p>
        <p>Step 1 content here</p>
        <p>Step 1 content here</p>
        <p>Step 1 content here</p>
        <p>Step 1 content here</p>
        <p>Step 1 content here</p>
        <p>Step 1 content here</p>
        <p>Step 1 content here</p>
        <p>Step 1 content here</p>
        <p>Step 1 content here</p>
        <p>Step 1 content here</p>
        <p>Step 1 content here</p>
        <p>Step 1 content here</p>
        <p>Step 1 content here</p>
        <p>Step 1 content here</p>
        <p>Step 1 content here</p>
        <p>Step 1 content here</p>
        <p>Step 1 content here</p>
        <p>Step 1 content here</p>
        <p>Step 1 content here</p>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel> Step 2</ng-template>
        <p>Step 2 content here</p>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel> Step 3</ng-template>
        <p>Step 3 content here</p>
      </mat-step>

    </mat-stepper>
  </ng-container>

  <ng-container aurDialogActions>
    @switch (stepper.selectedIndex) {
      @case (0) {
        <button mat-button (click)="stepper.next()">Next</button>
      }
      @case (1) {
        <button mat-button (click)="stepper.previous()">Back</button>
        <button mat-button (click)="stepper.next()">Next</button>
      }
      @case(3) {
        <button mat-button (click)="stepper.previous()">Back</button>
        <button mat-button mat-dialog-close>Close</button>
      }
    }
  </ng-container>

</aur-dialog>
