
<aur-dialog [title]="'Bottom space lo lo lo lo lo lo long title'">

  <ng-container aurDialogContent>
    <h3>Action Buttons Anchored at the Bottom</h3>
    <p>This is a fixed-size dialog window where the action buttons are always located at the bottom of the window, regardless of the content size.</p>
  </ng-container>

  <ng-container ngxAurDialogActions>
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button mat-dialog-close>Install</button>
  </ng-container>

</aur-dialog>
